<!doctype html>
<html lang="en">
  <head>
    <title>Translation service</title>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v1.9.4/dist/alpine.js"></script>
    <script id="section_id">section_id = '{{section_id}}'</script>
    <script src="/static/sections.js"></script>
    <link rel="stylesheet" href="/static/site.css">
  </head>
  <body>
    <a href="/">Back</a>
    <h2>Sakura no Uta translation webapp</h2>
    <h3>{{ section_id }} ({{completed['translated']}} / {{completed['lines']}} done)</h3>
    <div x-data="createState()" x-init="initializeState()">
      <h1>Section id: <span x-text="section_id"></span></h1>

      <button @click="prevLine()">Previous</button>
      <button @click="nextLine()">Next</button>
      <button @click="nextUntranslated()">Next Untranslated</button>
      <button @click="nextTranslated()">Next Translated</button>
      <button @click="translateLine()">Submit translation</button>

      <label for="index">Line:</label>
      <input type="number" id="index" x-model="index"/>

      <div class="translationBox">
        <div class="textBox">
          <div class="speaker" x-text="speaker[index]"></div>
          <input class="textContent" id="translatedText" type="text" x-model="translatedText"/>
        </div>
        <div class="textContent" x-text="jp_text[index]"></div>
      </div>
      <p x-text="translatedText"/>
    </div>
  </body>
</html>

